#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
*{
  background-color: greenyellow;
}
.pw{
  width: 500px;
  height: 300px;
  border: 1px solid rgb(238, 48, 48);
  border-radius: 8px;
  background-color: blueviolet;
}
.btn{
  width: 60px;
  height: 28px;

  padding: 2px 2px 2px 2px;
  background-color: rgb(204, 22, 22);
  color: aliceblue;
}
.pw :hover{
  border: 2px solid red;
  
}
.pg{
  background-color: rgb(16, 213, 219);
}